
<body>

	<!-- Navigation bar -->
	<nav class="card">
		<ul>

			<li><a href="#"><img src="../assets/ERP.png" class="logo"></a></li>
		   <li>
            
<p-breadcrumb class="max-w-full" [model]="items3" [home]="home"></p-breadcrumb>
           </li>
		</ul>
	</nav>

	<!-- Sidebar -->
	<div class="sidebar">
        <div class="menu">
            
            <!-- <ul *ngIf="show">
                <li>
                    <p-panelMenu [model]="items2" [multiple]="true"></p-panelMenu>
                  
           </li>
           
                  
            </ul> -->
            <ul *ngIf="show">
                <li>
                    <p-tree  [value]="items2" (click)="onNodeSelect($event)"></p-tree>
                </li>
            </ul>
            <div class="card ">
               
            </div>
            
            <div>
                <p-button label="Setting" styleClass="p-button-link"  (click)="ShowSetting()"></p-button>
               </div> 
               <li *ngIf="test">
                <p-tree  [value]="items"></p-tree>
           </li>
          </div>
	</div>

	<!-- Main content -->
	<div class="content">
        <div style="display: flex; flex-direction: row; gap: 50px;flex-wrap: wrap;" >
            <p-card header="Title" [style]="{ width: '360px' }" *ngIf="!test" (click)="Show($event)">
                <p class="m-0">
                    tekniva
                </p>
            </p-card>
            <p-card header="Title" [style]="{ width: '360px' }" *ngIf="!test" (click)="Show($event)">
                <p class="m-0">
                    tekniva
                </p>
            </p-card>
        </div>
        <div style="flex-wrap: wrap;">
            <p-tabMenu *ngIf='test' [model]="items" ></p-tabMenu>
        </div>
	</div>

</body>

